Repository project-porko/porko-service, pull requests merged in 2024-05, with the labels that each got.

#3 config: 공통 설정 부 모듈화
  porko-common/build.gradle.kts
  porko-common/src/main/java/io/porko/PorkoCommonConfig.java
  porko-common/src/main/java/io/porko/config/jpa/JpaConfig.java
  porko-common/src/main/java/io/porko/config/jpa/auditor/MetaFields.java
  porko-common/src/main/java/io/porko/config/jpa/auditor/TimeMetaFields.java
  porko-common/src/main/java/io/porko/config/security/PasswordEncoderConfig.java
  porko-common/src/main/java/io/porko/config/security/SecurityConfig.java
  porko-common/src/main/java/io/porko/exception/BusinessException.java
  porko-common/src/main/java/io/porko/exception/handler/BaseExceptionHandler.java
  porko-common/src/main/java/io/porko/exception/handler/UnexpectedExceptionHandler.java
  porko-common/src/main/java/io/porko/exception/response/ErrorCode.java
  porko-common/src/main/java/io/porko/exception/response/ErrorResponse.java
  porko-common/src/main/java/io/porko/exception/response/invalid/ErrorDetail.java
  porko-common/src/main/java/io/porko/exception/response/invalid/ErrorDetails.java
  porko-common/src/main/java/io/porko/exception/response/invalid/MethodArgumentNotValidErrorResponse.java
  porko-common/src/main/resources/application.yml
  porko-common/src/main/resources/properties/datasource.yml
  porko-common/src/main/resources/properties/jpa.yml
  porko-common/src/test/java/io/porko/config/base/TestBase.java
  porko-common/src/test/java/io/porko/config/base/business/ServiceTestBase.java
  porko-common/src/test/java/io/porko/config/base/persistence/DatasourceTestConfig.java
  porko-common/src/test/java/io/porko/config/base/persistence/JpaTestBase.java
  porko-common/src/test/java/io/porko/config/base/presentation/RequestBuilder.java
  porko-common/src/test/java/io/porko/config/base/presentation/WebMvcTestBase.java
  porko-common/src/test/java/io/porko/config/fixture/FixtureCommon.java
  porko-common/src/test/java/io/porko/config/jpa/TestJpaConfiguration.java
  porko-common/src/test/java/io/porko/config/p6spy/P6spySqlFormatConfiguration.java
  porko-common/src/test/java/io/porko/config/security/TestSecurityConfig.java
  settings.gradle.kts
Labels: build, feat, config

#5 feat :회원 가입 API 구현
  .gitignore
  build.gradle.kts
  porko-common/src/main/java/io/porko/exception/response/ErrorCode.java
  porko-common/src/main/java/io/porko/utils/ConvertUtils.java
  porko-common/src/main/java/io/porko/utils/ResponseEntityUtils.java
  porko-common/src/main/java/io/porko/utils/UriComponentUtils.java
  porko-common/src/test/java/io/porko/config/base/presentation/RequestBuilder.java
  porko-common/src/test/java/io/porko/config/fixture/FixtureCommon.java
  porko-service/build.gradle.kts
  porko-service/src/main/java/io/porko/PorkoServiceApp.java
  porko-service/src/main/java/io/porko/member/controller/MemberController.java
  porko-service/src/main/java/io/porko/member/controller/model/AddressDto.java
  porko-service/src/main/java/io/porko/member/controller/model/AvailabilityStatus.java
  porko-service/src/main/java/io/porko/member/controller/model/SignUpRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/ValidateDuplicateRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/ValidateDuplicateResponse.java
  porko-service/src/main/java/io/porko/member/domain/Address.java
  porko-service/src/main/java/io/porko/member/domain/Gender.java
  porko-service/src/main/java/io/porko/member/domain/Member.java
  porko-service/src/main/java/io/porko/member/exception/MemberErrorCode.java
  porko-service/src/main/java/io/porko/member/exception/MemberException.java
  porko-service/src/main/java/io/porko/member/facade/ValidateDuplicateFacade.java
  porko-service/src/main/java/io/porko/member/facade/dto/ValidateDuplicateRequestField.java
  porko-service/src/main/java/io/porko/member/facade/dto/ValidateDuplicateRequestType.java
  porko-service/src/main/java/io/porko/member/facade/strategy/EmailDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/facade/strategy/MemberIdDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/facade/strategy/ValidateDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/repo/MemberRepo.java
  porko-service/src/main/java/io/porko/member/service/MemberService.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTest.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTestHelper.java
  porko-service/src/test/java/io/porko/member/facade/ValidateDuplicateFacadeTest.java
  porko-service/src/test/java/io/porko/member/facade/dto/ValidateDuplicateRequestFieldTest.java
  porko-service/src/test/java/io/porko/member/facade/dto/ValidateDuplicateRequestTypeTest.java
  porko-service/src/test/java/io/porko/member/repo/MemberRepoTest.java
  porko-service/src/test/java/io/porko/member/service/MemberServiceTest.java
  settings.gradle.kts
Labels: feat, config, test

#7 feat: 회원 가입
  porko-common/src/test/java/io/porko/config/base/presentation/WebMvcTestBase.java
  porko-common/src/test/java/io/porko/config/fixture/FixtureCommon.java
  porko-service/src/main/java/io/porko/member/controller/MemberController.java
  porko-service/src/main/java/io/porko/member/controller/model/ValidateDuplicateRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/ValidateDuplicateResponse.java
  porko-service/src/main/java/io/porko/member/controller/model/signup/AddressDto.java
  porko-service/src/main/java/io/porko/member/controller/model/signup/SignUpRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/AvailabilityStatus.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateResponse.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateType.java
  porko-service/src/main/java/io/porko/member/exception/MemberErrorCode.java
  porko-service/src/main/java/io/porko/member/facade/ValidateDuplicateFacade.java
  porko-service/src/main/java/io/porko/member/facade/dto/ValidateDuplicateRequestField.java
  porko-service/src/main/java/io/porko/member/facade/strategy/EmailDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/facade/strategy/PhoneNumberDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/facade/strategy/ValidateDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/repo/MemberRepo.java
  porko-service/src/main/java/io/porko/member/service/MemberService.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTest.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTestHelper.java
  porko-service/src/test/java/io/porko/member/facade/ValidateDuplicateFacadeTest.java
  porko-service/src/test/java/io/porko/member/facade/dto/ValidateDuplicateRequestFieldTest.java
  porko-service/src/test/java/io/porko/member/facade/dto/ValidateDuplicateRequestTypeTest.java
  porko-service/src/test/java/io/porko/member/facade/dto/ValidateDuplicateTypeTest.java
  porko-service/src/test/java/io/porko/member/service/MemberServiceTest.java
Labels: chore, feat, refactor, test

#8 feat: 회원 가입 시, 핸드폰 번호 중복 검사 추가
  porko-common/src/test/java/io/porko/config/base/presentation/WebMvcTestBase.java
  porko-common/src/test/java/io/porko/config/fixture/FixtureCommon.java
  porko-service/src/main/java/io/porko/member/controller/MemberController.java
  porko-service/src/main/java/io/porko/member/controller/model/ValidateDuplicateRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/ValidateDuplicateResponse.java
  porko-service/src/main/java/io/porko/member/controller/model/signup/AddressDto.java
  porko-service/src/main/java/io/porko/member/controller/model/signup/SignUpRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/AvailabilityStatus.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateResponse.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateType.java
  porko-service/src/main/java/io/porko/member/exception/MemberErrorCode.java
  porko-service/src/main/java/io/porko/member/facade/ValidateDuplicateFacade.java
  porko-service/src/main/java/io/porko/member/facade/dto/ValidateDuplicateRequestField.java
  porko-service/src/main/java/io/porko/member/facade/strategy/EmailDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/facade/strategy/PhoneNumberDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/facade/strategy/ValidateDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/repo/MemberRepo.java
  porko-service/src/main/java/io/porko/member/service/MemberService.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTest.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTestHelper.java
  porko-service/src/test/java/io/porko/member/facade/ValidateDuplicateFacadeTest.java
  porko-service/src/test/java/io/porko/member/facade/dto/ValidateDuplicateRequestFieldTest.java
  porko-service/src/test/java/io/porko/member/facade/dto/ValidateDuplicateRequestTypeTest.java
  porko-service/src/test/java/io/porko/member/facade/dto/ValidateDuplicateTypeTest.java
  porko-service/src/test/java/io/porko/member/service/MemberServiceTest.java
Labels: chore, feat, refactor, test

#12 fix: 회원 가입 API 실행 중 발생한 data too long for column 에러 수정
  porko-service/src/main/java/io/porko/member/controller/model/signup/AddressDto.java
  porko-service/src/main/java/io/porko/member/controller/model/signup/SignUpRequest.java
Labels: fix

#20 feat: 로그인 API 구현
  porko-common/src/main/java/io/porko/utils/ConvertUtils.java
  porko-common/src/test/java/io/porko/config/base/presentation/RequestBuilder.java
  porko-common/src/test/java/io/porko/config/base/presentation/WebMvcTestBase.java
  porko-common/src/test/java/io/porko/config/security/TestSecurityConfig.java
  porko-service/build.gradle.kts
  porko-service/src/main/java/io/porko/PorkoServiceApp.java
  porko-service/src/main/java/io/porko/auth/config/PasswordEncoderConfig.java
  porko-service/src/main/java/io/porko/auth/config/SecurityConfig.java
  porko-service/src/main/java/io/porko/auth/config/UnauthorizedEntryPoint.java
  porko-service/src/main/java/io/porko/auth/config/jwt/JwtProperties.java
  porko-service/src/main/java/io/porko/auth/controller/AuthController.java
  porko-service/src/main/java/io/porko/auth/controller/model/LoginRequest.java
  porko-service/src/main/java/io/porko/auth/controller/model/LoginResponse.java
  porko-service/src/main/java/io/porko/auth/controller/model/PorkoPrincipal.java
  porko-service/src/main/java/io/porko/auth/domain/TokenProvider.java
  porko-service/src/main/java/io/porko/auth/domain/TokenResolver.java
  porko-service/src/main/java/io/porko/auth/domain/TokenType.java
  porko-service/src/main/java/io/porko/auth/exception/AuthErrorCode.java
  porko-service/src/main/java/io/porko/auth/exception/AuthException.java
  porko-service/src/main/java/io/porko/auth/filter/TokenVerifyFilter.java
  porko-service/src/main/java/io/porko/auth/service/AuthService.java
  porko-service/src/main/java/io/porko/auth/service/TokenService.java
  porko-service/src/main/java/io/porko/auth/utils/SigningUtils.java
  porko-service/src/main/resources/application-test.yml
  porko-service/src/test/java/io/porko/auth/controller/AuthControllerTest.java
  porko-service/src/test/java/io/porko/auth/domain/TokenProviderTest.java
  porko-service/src/test/java/io/porko/auth/domain/TokenResolverTest.java
  porko-service/src/test/java/io/porko/auth/domain/TokenTestHelper.java
  porko-service/src/test/java/io/porko/config/security/TestSecurityConfig.java
Labels: chore, build, feat, refactor, config, test

#21 feat(#19): 내 정보 조회 API 구현
  porko-service/src/main/java/io/porko/auth/controller/model/LoginMember.java
  porko-service/src/main/java/io/porko/member/controller/MemberController.java
  porko-service/src/main/java/io/porko/member/controller/model/MemberResponse.java
  porko-service/src/main/java/io/porko/member/exception/MemberErrorCode.java
  porko-service/src/main/java/io/porko/member/repo/MemberRepo.java
  porko-service/src/main/java/io/porko/member/service/MemberService.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTest.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTestHelper.java
Labels: chore, feat, test

#22 Build: Local 환경에서 Application 구동을 위한 docker-compose 작성
  .gitignore
  docker-compose.yml
  porko-common/src/main/java/io/porko/exception/response/ErrorCode.java
  porko-common/src/main/resources/application.yml
  porko-common/src/main/resources/properties/datasource.yml
  porko-common/src/main/resources/properties/jpa.yml
  porko-service/build.gradle.kts
  porko-service/src/main/resources/application-service.yml
  porko-service/src/test/resources/application-test.yml
Labels: chore, build, refactor, config

#25 build: QueryDsl 설정
  .gitignore
  porko-common/build.gradle.kts
  porko-common/src/test/java/io/porko/config/base/persistence/DatasourceTestConfig.java
  porko-common/src/test/java/io/porko/config/jpa/TestJpaConfig.java
  porko-common/src/test/java/io/porko/config/p6spy/P6spySqlFormatConfig.java
  porko-service/build.gradle.kts
  porko-service/src/main/java/io/porko/member/config/jpa/auditor/MetaFields.java
  porko-service/src/main/java/io/porko/member/config/jpa/auditor/TimeMetaFields.java
  porko-service/src/main/java/io/porko/member/config/querydsl/QueryDslConfig.java
  porko-service/src/main/java/io/porko/member/controller/model/MemberResponse.java
  porko-service/src/main/java/io/porko/member/domain/Member.java
  porko-service/src/main/java/io/porko/member/repo/MemberQueryRepo.java
  porko-service/src/main/java/io/porko/member/service/MemberService.java
  porko-service/src/test/java/io/porko/config/querydsl/QueryDslTestBase.java
  porko-service/src/test/java/io/porko/config/querydsl/TestQueryDslConfig.java
  porko-service/src/test/java/io/porko/member/repo/MemberQueryRepoTest.java
  porko-service/src/test/resources/data.sql
Labels: fix, chore, build, refactor, config, style, test

#26 build: docker-compose를 이용한 mysql 이미지 생성 및 실행 시 대소문자 구분 무시 설정 추가
  docker-compose.yml
Labels: build

#28 config: local 환경의 application properties 수정
  .gitignore
  porko-common/src/main/resources/application.yml
  porko-common/src/main/resources/properties/jwt.yml
  porko-common/src/main/resources/properties/logging.yml
  porko-common/src/main/resources/properties/p6spy.yml
  porko-common/src/main/resources/properties/port.yml
  porko-common/src/main/resources/properties/sql-init.yml
  porko-service/src/main/resources/application-service.yml
  porko-service/src/main/resources/data.sql
Labels: config

#32 feat: 중복 검사 가능 항목 조회 API 구현
  porko-common/src/test/java/io/porko/config/base/presentation/RequestBuilder.java
  porko-service/src/main/java/io/porko/auth/config/SecurityConfig.java
  porko-service/src/main/java/io/porko/member/controller/MemberController.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateType.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateTypeDto.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateTypeResponse.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTest.java
  porko-service/src/test/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateTypeDtoTest.java
  porko-service/src/test/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateTypeResponseTest.java
  porko-service/src/test/java/io/porko/member/facade/ValidateDuplicateFacadeTest.java
Labels: chore, feat, test

#35 config: 민감한 환경 변수 분리 및 주입
  .gitignore
  docker-compose.yml
  porko-common/src/main/resources/application.yml
  porko-common/src/main/resources/properties/datasource.yml
  porko-common/src/main/resources/properties/jwt.yml
  porko-service/src/test/resources/application-test.yml
Labels: config

#36 feat: 회원 가입 API 수정
  porko-service/src/main/java/io/porko/auth/controller/model/LoginRequest.java
  porko-service/src/main/java/io/porko/auth/service/AuthService.java
  porko-service/src/main/java/io/porko/member/controller/model/MemberResponse.java
  porko-service/src/main/java/io/porko/member/controller/model/signup/SignUpRequest.java
  porko-service/src/main/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateType.java
  porko-service/src/main/java/io/porko/member/domain/Member.java
  porko-service/src/main/java/io/porko/member/facade/strategy/MemberIdDuplicateStrategy.java
  porko-service/src/main/java/io/porko/member/repo/MemberQueryRepo.java
  porko-service/src/main/java/io/porko/member/repo/MemberRepo.java
  porko-service/src/main/java/io/porko/member/service/MemberService.java
  porko-service/src/test/java/io/porko/auth/controller/AuthControllerTest.java
  porko-service/src/test/java/io/porko/config/security/TestSecurityConfig.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTest.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTestHelper.java
  porko-service/src/test/java/io/porko/member/controller/model/validateduplicate/ValidateDuplicateTypeDtoTest.java
  porko-service/src/test/java/io/porko/member/facade/ValidateDuplicateFacadeTest.java
  porko-service/src/test/java/io/porko/member/facade/dto/ValidateDuplicateTypeTest.java
  porko-service/src/test/java/io/porko/member/repo/MemberRepoTest.java
  porko-service/src/test/java/io/porko/member/service/MemberServiceTest.java
  porko-service/src/test/resources/data.sql
Labels: feat, refactor, test

#41 feat: 모든 위젯 목록 조회 API 구현
  porko-service/src/main/java/io/porko/auth/config/SecurityConfig.java
  porko-service/src/main/java/io/porko/config/jpa/auditor/MetaFields.java
  porko-service/src/main/java/io/porko/config/jpa/auditor/TimeMetaFields.java
  porko-service/src/main/java/io/porko/config/querydsl/QueryDslConfig.java
  porko-service/src/main/java/io/porko/member/domain/Member.java
  porko-service/src/main/java/io/porko/widget/controller/WidgetController.java
  porko-service/src/main/java/io/porko/widget/controller/model/WidgetDto.java
  porko-service/src/main/java/io/porko/widget/controller/model/WidgetsResponse.java
  porko-service/src/main/java/io/porko/widget/domain/Widget.java
  porko-service/src/main/java/io/porko/widget/domain/WidgetCode.java
  porko-service/src/main/java/io/porko/widget/domain/WidgetType.java
  porko-service/src/main/java/io/porko/widget/repo/WidgetRepo.java
  porko-service/src/main/java/io/porko/widget/service/WidgetService.java
  porko-service/src/test/java/io/porko/widget/controller/WidgetControllerTest.java
  porko-service/src/test/java/io/porko/widget/controller/WidgetControllerTestHelper.java
  porko-service/src/test/java/io/porko/widget/service/WidgetServiceTest.java
Labels: feat, test

#44 feat: LocalCahce 적용(Caffeine)
  porko-common/src/test/java/io/porko/config/utils/TestUtils.java
  porko-service/build.gradle.kts
  porko-service/src/main/java/io/porko/config/cache/CacheConfig.java
  porko-service/src/main/java/io/porko/config/cache/CacheType.java
  porko-service/src/main/java/io/porko/widget/service/WidgetService.java
  porko-service/src/main/resources/data.sql
  porko-service/src/test/java/io/porko/config/cache/CacheConfigTest.java
  porko-service/src/test/java/io/porko/config/cache/CacheConfigTestHelper.java
  porko-service/src/test/java/io/porko/widget/service/WidgetServiceTest.java
  porko-service/src/test/resources/data.sql
Labels: build, feat, config, test

#46 feat: 목표 예산 사용률 조회 API 구현
  porko-service/src/main/java/io/porko/budget/controller/BudgetController.java
  porko-service/src/main/java/io/porko/budget/controller/model/BudgetResponse.java
  porko-service/src/main/java/io/porko/budget/domain/Budget.java
  porko-service/src/main/java/io/porko/budget/exception/BudgetErrorCode.java
  porko-service/src/main/java/io/porko/budget/exception/BudgetException.java
  porko-service/src/main/java/io/porko/budget/repo/BudgetQueryRepo.java
  porko-service/src/main/java/io/porko/budget/repo/BudgetRepo.java
  porko-service/src/main/java/io/porko/budget/service/BudgetService.java
  porko-service/src/main/java/io/porko/history/repo/HistoryQueryRepo.java
Labels: chore, feat, refactor, style

#48 feat: 목표 예산 설정 API 구현
  porko-service/src/main/java/io/porko/budget/controller/BudgetController.java
  porko-service/src/main/java/io/porko/budget/controller/model/BudgetRequest.java
  porko-service/src/main/java/io/porko/budget/domain/Budget.java
  porko-service/src/main/java/io/porko/budget/service/BudgetService.java
Labels: chore, feat

#55 feat(#54): 저번 달 사용 금액 조회 기능 구현
  porko-service/src/main/java/io/porko/budget/controller/BudgetController.java
  porko-service/src/main/java/io/porko/budget/service/BudgetService.java
  porko-service/src/main/java/io/porko/history/repo/HistoryQueryRepo.java
Labels: feat

#59 feat: 사용자 위젯 순서 저장/변경 API
  porko-common/src/test/java/io/porko/config/base/TestBase.java
  porko-common/src/test/java/io/porko/config/fixture/FixtureCommon.java
  porko-common/src/test/java/io/porko/config/fixture/UniqueArbitraryGenerator.java
  porko-service/src/main/java/io/porko/member/service/MemberService.java
  porko-service/src/main/java/io/porko/widget/controller/MemberWidgetController.java
  porko-service/src/main/java/io/porko/widget/controller/model/ModifyMemberWidgetOrderDto.java
  porko-service/src/main/java/io/porko/widget/controller/model/ModifyMemberWidgetsOrderRequest.java
  porko-service/src/main/java/io/porko/widget/controller/model/WidgetDto.java
  porko-service/src/main/java/io/porko/widget/controller/model/WidgetsResponse.java
  porko-service/src/main/java/io/porko/widget/domain/MemberWidget.java
  porko-service/src/main/java/io/porko/widget/domain/OrderedMemberWidgets.java
  porko-service/src/main/java/io/porko/widget/domain/Widget.java
  porko-service/src/main/java/io/porko/widget/domain/WidgetCode.java
  porko-service/src/main/java/io/porko/widget/exception/WidgetErrorCode.java
  porko-service/src/main/java/io/porko/widget/exception/WidgetException.java
  porko-service/src/main/java/io/porko/widget/repo/MemberWidgetRepo.java
  porko-service/src/main/java/io/porko/widget/service/MemberWidgetService.java
  porko-service/src/test/java/io/porko/widget/controller/MemberWidgetControllerTest.java
  porko-service/src/test/java/io/porko/widget/controller/WidgetControllerTestHelper.java
  porko-service/src/test/java/io/porko/widget/controller/model/ModifyMemberWidgetOrderDtoTest.java
  porko-service/src/test/java/io/porko/widget/controller/model/ModifyMemberWidgetsOrderRequestTest.java
  porko-service/src/test/java/io/porko/widget/fixture/MemberWidgetFixture.java
  porko-service/src/test/java/io/porko/widget/service/MemberWidgetServiceTest.java
  porko-service/src/test/java/io/porko/widget/service/WidgetServiceTest.java
Labels: fix, feat, refactor, config, test

#60 feat(#51): 생성/수정자의 메타데이터 주입을 위한 Jpa Auditor Aware 설정
  porko-common/src/main/java/io/porko/config/jpa/JpaConfig.java
  porko-service/src/main/java/io/porko/config/jpa/JpaConfig.java
Labels: feat, config

#62 fix: WidgetException 컴파일 오류 수정
  porko-service/src/main/java/io/porko/widget/exception/WidgetException.java
Labels: fix

#64 test: ValidateDuplicateFacade TC 경량화
  porko-service/src/test/java/io/porko/member/facade/ValidateDuplicateFacadeTest.java
Labels: test

#71 feat: 사용자 위젯 순서 변경 API 리팩토링
  porko-common/src/test/java/io/porko/config/base/TestBase.java
  porko-service/src/main/java/io/porko/widget/controller/MemberWidgetController.java
  porko-service/src/main/java/io/porko/widget/controller/model/ModifyMemberWidgetOrderDto.java
  porko-service/src/main/java/io/porko/widget/controller/model/ModifyMemberWidgetsOrderRequest.java
  porko-service/src/main/java/io/porko/widget/controller/model/ReorderWidgetRequest.java
  porko-service/src/main/java/io/porko/widget/controller/model/WidgetsResponse.java
  porko-service/src/main/java/io/porko/widget/domain/MemberWidget.java
  porko-service/src/main/java/io/porko/widget/domain/OrderedMemberWidgets.java
  porko-service/src/main/java/io/porko/widget/domain/Widget.java
  porko-service/src/main/java/io/porko/widget/service/MemberWidgetService.java
  porko-service/src/test/java/io/porko/widget/controller/MemberWidgetControllerTest.java
  porko-service/src/test/java/io/porko/widget/controller/WidgetControllerTest.java
  porko-service/src/test/java/io/porko/widget/controller/WidgetControllerTestHelper.java
  porko-service/src/test/java/io/porko/widget/controller/model/ModifyMemberWidgetsOrderRequestTest.java
  porko-service/src/test/java/io/porko/widget/controller/model/ReorderWidgetRequestTest.java
  porko-service/src/test/java/io/porko/widget/domain/OrderedMemberWidgetsTest.java
  porko-service/src/test/java/io/porko/widget/fixture/MemberWidgetFixture.java
  porko-service/src/test/java/io/porko/widget/service/MemberWidgetServiceTest.java
Labels: chore, feat, refactor, test

#69 feat: 일별/주차별/월별 수입/지출 계산 쿼리 작성
  porko-service/src/main/java/io/porko/history/domain/History.java
  porko-service/src/main/java/io/porko/history/domain/SpendingCategory.java
  porko-service/src/main/java/io/porko/history/domain/Type.java
  porko-service/src/main/java/io/porko/history/repo/HistoryQueryRepo.java
Labels: feat

#73 refactor: Web layer test 수행 속도 및 분리된 테스트 설정 환경 개선을 위한 리팩토링
  porko-common/src/main/resources/properties/logging.yml
  porko-common/src/test/java/io/porko/config/base/presentation/RequestBuilder.java
  porko-service/src/test/java/io/porko/auth/controller/AuthControllerTest.java
  porko-service/src/test/java/io/porko/config/base/WebLayerTestBase.java
  porko-service/src/test/java/io/porko/config/cache/CacheConfigTest.java
  porko-service/src/test/java/io/porko/config/cache/CacheConfigTestHelper.java
  porko-service/src/test/java/io/porko/config/security/TestSecurityConfig.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTest.java
  porko-service/src/test/java/io/porko/member/controller/MemberControllerTestHelper.java
  porko-service/src/test/java/io/porko/widget/controller/MemberWidgetControllerTest.java
  porko-service/src/test/java/io/porko/widget/controller/WidgetControllerTest.java
  porko-service/src/test/java/io/porko/widget/controller/WidgetControllerTestHelper.java
Labels: chore, refactor, config, test

#75 build: 도커 빌드를 위한 Dockerfile 작성
  Dockerfile
  docker-compose.yml
  porko-service/build.gradle.kts
Labels: build
